<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a href="/urls" class="navbar-brand">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a href="/urls" class="nav-item nav-link">My URLS</a>
        <a href="/urls/new" class="nav-item nav-link">Create New URL</a>
      </div>
    </div>
    <div>
      <% if (!username) { %>
      <form method="POST" action="/login" class="d-flex align-items-center">
        <button type="submit" class="btn-primary d-inline px-4 py-1 rounded">
          Login
        </button>
        <input
          class="form-control"
          type="text"
          name="username"
          placeholder="username"
          style="width: 200px; margin: 1em"
        />
      </form>
      <% } else {%>
      <div class="card px-4 py-2 d-inline">Welcome, <%= username %></div>
      <form method="POST" action="/logout" class="d-inline">
        <button class="d-inline py-1 rounded" type="submit">Logout</button>
      </form>
      <% } %>
    </div>
  </nav>
</header>
