<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a href="/urls" class="navbar-brand">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a href="/urls" class="nav-item nav-link">My URLS</a>
        <a href="/urls/new" class="nav-item nav-link">Create New URL</a>
      </div>
    </div>
    <div>
      <% if (!user) { %>
      <form method="POST" action="/login" class="d-flex align-items-center">
        <a href="/register" class="nav-item nav-link text-white">Register</a>
        <a href="/login" class="text-white btn btn-info"> Login </a>
      </form>
      <% } else { %>
      <div class="card px-4 py-2 d-inline">Welcome, <%= user.email %></div>
      <form method="POST" action="/logout" class="d-inline">
        <button class="d-inline py-1 rounded" type="submit">Logout</button>
      </form>
      <% } %>
    </div>
  </nav>
</header>
